
body {
  margin: 0;
  font-family: Almarai,sans-serif !important;
  font-size: .9rem !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
  color: #212529 !important;
  text-align: left !important;
  background-color: #0d0d0d !important;
}
.main-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: 100% 100%;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-image: url(http://entertainme.co/storage/images/loading_bg.jpg);
}

.main-loading #logo {
  max-width: 800px;
  margin: 0 40px;
}
.main-loading #logo #logo-m {
  transform-origin: center bottom;
  transition: transform 0.3s;
  /* animation: logoM 1.7s ease-in-out 0s infinite alternate both; */
}
.logo-m-line {
  transform-origin: center bottom;
  transform-box: fill-box;
}
.logo-m-line:nth-child(1) {
  animation: logoM-1 1.7s ease-in-out 0s infinite alternate both;
}
.logo-m-line:nth-child(2) {
  animation: logoM-2 1.7s ease-in-out 0.2s infinite alternate both;
}
.logo-m-line:nth-child(3) {
  animation: logoM-3 1.7s ease-in-out 0.4s infinite alternate both;
}
@keyframes logoM {
  from {
    transform: translate(1246.454px, 269.101px) scaleY(1);
  }
  to {
    transform: translate(1246.454px, 269.101px) scaleY(0);
  }
}
@keyframes logoM-1 {
  from {
    transform: translate(-728.231px, -268.17px) scaleY(1);
  }
  to {
    transform: translate(-728.231px, -268.17px) scaleY(0);
  }
}
@keyframes logoM-2 {
  from {
    transform: translate(-705.579px, -252.557px) scaleY(1);
  }
  to {
    transform: translate(-705.579px, -252.557px) scaleY(0);
  }
}
@keyframes logoM-3 {
  from {
    transform: translate(-682.927px, -268.17px) scaleY(1);
  }
  to {
    transform: translate(-682.927px, -268.17px) scaleY(0);
  }
}

.global-search[data-v-36959b50] {
  position: relative;
  width: 300px;
  z-index: 9;
}
.global-search .search-input-container[data-v-36959b50] {
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, 0.336);
  border-radius: 25px;
  overflow: hidden;
  height: 30px;
  transition: border-radius 0.3s ease-in-out;
}
.global-search .search-input-container.filterListActive[data-v-36959b50] {
  border-radius: 15px 15px 0 0;
}
.global-search .search-input-container input[data-v-36959b50] {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #fff;
}
.global-search .search-input-container .search-icon[data-v-36959b50] {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.global-search .results-container[data-v-36959b50] {
  position: absolute;
  top: 30px;
  width: 100%;
  border: 1px solid hsla(0, 0%, 100%, 0.336);
  background: #000;
  text-transform: none;
}
.global-search .results-container .search-results[data-v-36959b50] {
  width: 100%;
  max-height: 300px;
  overflow: hidden auto;
  border-top: 0;
  color: #fff;
}
.global-search
  .results-container
  .search-results
  .result-artist[data-v-36959b50] {
  background-color: #000;
  padding: 8px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.global-search
  .results-container
  .search-results
  .result-artist.selected[data-v-36959b50],
.global-search
  .results-container
  .search-results
  .result-artist[data-v-36959b50]:hover {
  background-color: var(--primary);
}
.global-search .results-container .search-tip[data-v-36959b50] {
  border-top: 1px solid hsla(0, 0%, 100%, 0.336);
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: lighter;
}
.fa-icon {
  display: inline-block;
  fill: currentColor;
  overflow: visible;
}
.fa-icon > g {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.fa-flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.fa-flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.fa-flip-both {
  -webkit-transform: scale(-1);
  transform: scale(-1);
}
.fa-spin > g {
  -webkit-animation: fa-spin 1s linear 0s infinite;
  animation: fa-spin 1s linear 0s infinite;
}
.fa-pulse > g {
  -webkit-animation: fa-spin 1s steps(8) infinite;
  animation: fa-spin 1s steps(8) infinite;
}
.fa-inverse {
  color: #fff;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.book-modal-body {
  background: #000;
  border-radius: 50px;
  padding: 35px;
}
#booking-form-popup .search-artists {
  position: relative;
}
#booking-form-popup .search-artists input.form-control {
  transition: border-radius 0.5s ease;
  border-radius: 25px;
}
#booking-form-popup .search-artists.active input.form-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#booking-form-popup .search-artists .search-loading {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
#booking-form-popup .search-artists .filtered-artists {
  position: absolute;
  width: 100%;
  background-color: var(--dark);
  z-index: 999;
  left: 0;
  max-height: 300px;
  overflow-y: auto;
}
#booking-form-popup .search-artists .filtered-artists::-webkit-scrollbar {
  width: 5px;
  background-color: var(--light);
}
#booking-form-popup .search-artists .filtered-artists::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
#booking-form-popup .search-artists .filtered-artists ul li {
  padding: 10px;
  font-size: 1.5rem;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#booking-form-popup .search-artists .filtered-artists ul li.selected,
#booking-form-popup .search-artists .filtered-artists ul li:hover {
  background-color: var(--primary);
}
#booking-form-popup .search-artists .filtered-artists ul li.selected:hover {
  background-color: var(--danger);
}
#booking-form-popup .selected-artists {
  display: flex;
  flex-wrap: wrap;
}
#booking-form-popup .selected-artists .selected-artist {
  transition: background-color 0.3s ease;
  cursor: pointer;
}
#booking-form-popup .selected-artists .selected-artist:hover {
  background-color: var(--danger);
}
#booking-form-popup
  .booking-steps
  .booking-step
  .custom-radio
  .custom-control-label:before {
  border-radius: 0;
  background-color: transparent;
  border-color: var(--dark);
}
#booking-form-popup
  .booking-steps
  .booking-step
  .custom-radio
  .custom-control-label:after {
  background: none;
}
#booking-form-popup
  .booking-steps
  .booking-step
  .custom-radio
  input:checked
  ~ .custom-control-label:before {
  background-color: var(--primary);
  border-color: var(--primary);
}
#booking-form-popup
  .booking-steps
  .booking-step
  .custom-checkbox
  .custom-control-label:before {
  border-radius: 0;
}
#booking-form-popup
  .booking-steps
  .booking-step.second-step
  .custom-checkbox
  .custom-control-label:before {
  background-color: transparent;
  border-color: var(--dark);
}
#booking-form-popup
  .booking-steps
  .booking-step.second-step
  .custom-checkbox
  .custom-control-label:after {
  background: none;
}
#booking-form-popup
  .booking-steps
  .booking-step.second-step
  .custom-checkbox
  input:checked
  ~ .custom-control-label:before {
  background-color: var(--primary);
  border-color: var(--primary);
}
#booking-form-popup .booking-steps .booking-step.second-step .budget-field {
  position: relative;
}
#booking-form-popup
  .booking-steps
  .booking-step.second-step
  .budget-field:after {
  content: "$";
  font-family: Noto Sans KR;
  font-weight: 700;
  color: var(--light);
  position: absolute;
  right: -1.8rem;
  top: 0;
  bottom: 0;
  text-align: center;
  height: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.3;
}
#booking-form-popup .booking-steps .booking-step .date-field button {
  padding: 0 !important;
}
#booking-form-popup .steps-buttons {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -50px;
  left: 0;
}
#booking-form-popup .steps-buttons .step-button {
  cursor: pointer;
  border: 1px solid var(--dark);
  background-color: transparent;
  transition: background-color 0.3s ease;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
#booking-form-popup .steps-buttons .step-button.active {
  background-color: var(--primary);
}
.filteredArtistsList-enter-active {
  transition: all 0.3s ease;
}
.filteredArtistsList-leave-active {
  transition: all 0.5s ease;
}
.filteredArtistsList-enter,
.filteredArtistsList-leave-to {
  transform: translateY(30px);
  opacity: 0;
}

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
#featured-artists {
  margin: 100px 0;
}
#featured-artists .swiper-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
}
#featured-artists .swiper-container .featured-artist {
  height: 200px;
  width: 250px;
  background-color: var(--primary);
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 15px;
  border: 1px solid #707070;
  cursor: pointer;
  background-size: cover;
  background-position: 50%;
  transition: all 0.4s ease-in-out;
  margin-top: auto;
}
#featured-artists .swiper-container .featured-artist .artist-info {
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease 0.2s;
}
#featured-artists
  .swiper-container
  .featured-artist
  .artist-info
  .artist-description {
  font-size: 12px;
  transition: all 0.5s ease 0.3s;
  overflow: hidden;
  height: 40px;
  width: 0;
}
#featured-artists .swiper-container .featured-artist .artist-info .triangle {
  transition: transform 0.5s ease 0.3s;
  transform: translateX(-250px) rotate(0deg);
}
#featured-artists .swiper-container .featured-artist:after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.562), #000);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s ease;
  top: 0;
  left: 0;
}
#featured-artists .swiper-container .featured-artist:hover {
  height: 300px;
  width: 350px;
}
#featured-artists .swiper-container .featured-artist:hover:after {
  opacity: 1;
}
#featured-artists .swiper-container .featured-artist:hover .artist-info {
  opacity: 1;
  transition-delay: 0.2s;
}
#featured-artists
  .swiper-container
  .featured-artist:hover
  .artist-info
  .artist-description {
  transition-delay: 0.3s;
  width: 75%;
}
#featured-artists
  .swiper-container
  .featured-artist:hover
  .artist-info
  .triangle {
  transition-delay: 0.3s;
  transform: translateX(0) rotate(1turn);
}

.home-page .home-hero-container {
  background-image: url(http://entertainme.co/storage/images/loading_bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: 50%;
}
.home-page .home-hero-container .row {
  min-height: 100vh;
  max-height: 100%;
}
.home-page .home-hero-container #letus-do-thework,
.home-page .home-hero-container #start-journy {
  margin: 50px;
  background-color: rgba(255, 119, 0, 0.5215686274509804);
  padding: 25px;
  position: relative;
}
.home-page .home-hero-container #letus-do-thework h1,
.home-page .home-hero-container #start-journy h1 {
  margin-right: 0;
  width: 100%;
}
.home-page .home-hero-container #letus-do-thework .lets-go,
.home-page .home-hero-container #start-journy .lets-go {
  font-size: 1.4rem;
  text-decoration: underline;
  padding: 0.5rem 2.5rem;
  position: absolute;
  bottom: -2rem;
}
.home-page #about-us {
  margin: 50px 0;
}
.home-page #about-us .aboutus-title {
  background-color: var(--primary);
  padding: 0.5rem 5.5rem 0.5rem 1.5rem;
  color: #fff;
  position: relative;
  display: inline-block;
}
.home-page #about-us .aboutus-title:after {
  content: "About Us";
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.06);
  position: absolute;
  z-index: -1;
  right: -100%;
  top: -4.7rem;
  font-size: 5.5rem;
}
@media (max-width: 576px) {
  .home-page #about-us .aboutus-title:after {
    right: -10%;
    top: -2.7rem;
    font-size: 3.5rem;
  }
}
.home-page #about-us p {
  font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: hsla(0,0%,100%,.5);
}
.global-search[data-v-36959b50] {
    position: relative;
    width: 300px;
    z-index: 9;
}
.global-search .search-input-container[data-v-36959b50] {
    position: relative;
    border: 1px solid hsla(0,0%,100%,.336);
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
    transition: border-radius .3s ease-in-out;
}
.global-search .search-input-container input[data-v-36959b50] {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #fff;
}
.global-search .search-input-container .search-icon[data-v-36959b50] {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.b-icon.bi {
    display: inline-block;
    overflow: visible;
    vertical-align: -.15em;
}
.text-light {
    color: #f8f9fa!important;
}
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
}
.navbar .cart-icon {
    position: relative;
}
.fa-icon {
    display: inline-block;
    fill: currentColor;
    overflow: visible;
}
.navbar .cart-icon:after {
    content: attr(data-count);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: -1px;
    background-color: var(--primary);
    color: var(--light);
    width: 1.1rem;
    font-size: .9rem;
    height: 1rem;
    line-height: 1.1;
    text-align: center;
}

/* ------ Added parts for navbar ----- */
.navbar {
  font-family: Noto Sans KR;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding: .5rem 1rem;
}
.navbar-brand {
  display: inline-block;
  padding-top: .32rem;
  padding-bottom: .32rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: inherit;
  white-space: nowrap;
}